.contact-container {
    width: 430px;
    min-height: 608px;
    position: fixed;
    bottom: 105px;
    right: 50px;
    cursor: pointer;
    background: rgba(248, 248, 248, 1);
    padding: 24px 16px;
    border-radius: 8px;
    box-shadow: -2px 4px 16px 0px rgba(0, 0, 0, 0.16);

    .contact-title {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(77, 77, 77, 1);
        padding: 20px 10px;

        span {
            color: rgba(15, 15, 15, 1);

        }

        hr {
            margin: 20px 0;
        }
    }

    .contact-form {
        form {
            label {
                color: rgba(77, 77, 77, 1);
                font-family: Poppins;
                font-size: 18px;
                line-height: 18px;
                
                span {
                    color: red;
                }
            }

            .name {
                width: 398px;
                height: 48px;
                border-radius: 8px;
                border: 1px rgba(204, 204, 204, 1);
                background: rgba(224, 224, 224, 1);
                margin: 15px 0;
                padding: 0 10px;
            }

            input[type="text"]::placeholder {
                text-align: left;
            }

            .textarea-with-attachment {

                position: relative;
                #contact-text {
                    height: 180px !important;
                    width: 398px !important;
                    border-radius: 8px;
                    border: 1px rgba(204, 204, 204, 1);
                    background: rgba(224, 224, 224, 1);
                    margin: 15px 0;
                    text-align: left;
                    width: calc(100% - 80px);
                    padding: 10px;
                    color: black;
                    max-height: 180px;
                    overflow: auto;
                }

               
            }

            #contact-text::placeholder {
                text-align: left;
            }

            .non-login{
                #email {
                    width: 398px;
                    height: 48px;
                    border-radius: 8px;
                    border: 1px rgba(204, 204, 204, 1);
                    background: rgba(224, 224, 224, 1);
                    margin: 15px 0;
                    padding: 0 10px;
                }
    
                input[type="text"]::placeholder {
                    text-align: left;
                }

                #mobile {
                    width: 398px;
                    height: 48px;
                    border-radius: 8px;
                    border: 1px rgba(204, 204, 204, 1);
                    background: rgba(224, 224, 224, 1);
                    margin: 15px 0;
                    padding: 0 10px;
                }
    
                input[type="number"]::placeholder {
                    text-align: left;
                }
            }
            

            .submit-btn {
                display: flex;
                align-items: center;
                justify-content: right;

                .submit {
                    width: 114px;
                    height: 40px;
                    border-radius: 4px;
                    border: none;
                    font-family: Poppins;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: rgba(248, 248, 248, 1);
                    text-align: center;
                    padding: 10px 20px;
                    opacity: 0.6;
                    margin-top: 5px;
                    background: rgba(15, 15, 15, 1);
                }
            }
        }
    }
}